doctype html
html(lang="en")
	head
	title= pageTitle
	link(rel='stylesheet', href='/stylesheets/style.css')

	body
		#header
		#app
		#footer


		script(src='/components/requirejs/require.js' data-main='/javascripts/main')