doctype html
html(lang="en")
    head
    title= pageTitle
    link(rel='stylesheet', href='/stylesheets/style.css')

    if user
        script.
            window.user = {id: '#{user._id}', email: '#{user.email}'};

    body
        block content

        //script(src='/components/requirejs/require.js' data-main='/javascripts/config')
        script(src='/javascripts/bundle.js')