extends layout

block content

	if message
		p #{message}

	if user
		p #{user}

	form(method="post" action="/login")
		Username: input(type="text" name="username")

		Password: input(type="password" name="password")

		input(type="submit" value="Submit")