extends layout

block content

	.container

		.row-fluid
			.col-md-4.col-md-offset-4

				if message
					.bs-callout.bs-callout-danger
						h4 Error!
						p #{message}

				if user
					p #{user}

				form(method="post" action="/login" role="form")
					.form-group
						label(for="username") Username
						input(type="text" name="username" class="form-control input-lg" placeholder="Enter your username")

					.form-group
						label(for="password") Password
						input(type="password" name="password" class="form-control input-lg" placeholder="Enter your password")

					input(type="submit" value="Submit" class="btn btn-default")