@import "compass/css3";
@import "../components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout code {
    background-color: #fff;
    border-radius: 3px
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f
}

.bs-callout-danger h4 {
    color: #d9534f
}